/* styles.css */
.post-card {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    max-height: 350px;
    width: 720px;

  }
  
  .post-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .post-card-img {
    width: 400pxpx;
    height: 300px;
    object-fit: cover;
  }
  
  .post-content {
    padding: 20px;
    flex: 1;
  }
  
  .post-title {
    font-size: 1.5rem; /* Adjusted font size */
    margin-bottom: 8px;
    color: #333;
  }
  
  .post-readtime {
    font-size: 1.2rem; /* Adjusted font size */
    color: #666;
    margin-top: 8px;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .post-card {
        flex-direction: column;
        max-height: 100px; /* Adjust the height as needed */
      }
  
    .post-card-img {
      width: 100%;
      height: auto;
    }
  }

  /* Styling for like button */
.like-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Add transition effect */
}

/* Change background color of like button on hover */
.like-btn:hover {
  background-color: #45a049; /* Darker green */
}

/* Styling for dislike button */
.dislike-btn {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Add transition effect */
}

/* Change background color of dislike button on hover */
.dislike-btn:hover {
  background-color: #d32f2f; /* Darker red */
}

/* Change background color of like button on click */
.like-btn.active {
  background-color: #388e3c; /* Light green */
}

/* Change background color of dislike button on click */
.dislike-btn.active {
  background-color: #d32f2f; /* Light red */
}

  